@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    padding:80px 32px;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}
.colored__text{
    color: #6415FF;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

/*

Nav Section

*/
nav{
    padding: 32px 32px 0 32px;
}
.nav__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__img--wrapper{
    width: 40px;
    margin-right: 12px;
}
.logo__img{
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo:hover .logo__name{
    color: #6415FF;
}
.logo__name{
    font-size: 24px;
    color: #243E63;
    font-weight: 900;
}
.nav__link--group{
    display: flex;
}
.nav__link{
    margin:0 24px;
    color: #243E63;
    font-size: 14px;
    font-weight: 600;
    transition:all 120ms ease;
}
.nav__link:hover{
    color: #6415FF;
    border-bottom: 2px solid #6415FF;
    padding-bottom:4px;
}
.nav__link--login{
    margin:0 24px 0 48px;
}
.nav__link--signup{
    background-color: #6415FF;
    color: white;
    padding: 12px 32px;
    border-radius: 9999px;
    font-size: 14px;
    font-weight: 600;
    transition:all 300ms ease;
}
.nav__link--signup:hover{
    background-color: #5011CC;
}

/*

Header Section

*/
header{
    height: 100vh;
}
.header__wrapper{
    display: flex;
}
.header__img--wrapper{
    width: 60%;
}
.header__img{
    width: 100%;
}
.header__content{
    width: 40%;
}
.header__content--title{
    font-size: 48px;
}
.header__content--text{
    font-size: 18px;
    line-height: 1.5;
    color:#243E63;
    padding:32px 0;
}
.header__input--box{
    position: relative;
    display: inline-block;
}
.header__btn{
    position: absolute;
    cursor: pointer;
    right:0;
    border-radius: 9999px;
    padding:17px 42px;
    margin:10px;
    font-size: 16px;
    font-weight: 700;
    background-color: #6415FF;
    color: white;
    border: none;
    transition:all 300ms ease;
}
.header__btn:hover{
    background-color: #5011CC;
}
.header__input{
    border-radius: 9999px;
    padding:25px 190px 25px 32px;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}
.header__content--customers{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}
.customers__text{
    font-size: 12px;
    color: #A0AEC0;
    font-weight: 700;
    padding-bottom: 12px;
}
.customers__img--wrapper{
    width: 350px;
}
.customers__img{
    width: 100%;
    opacity: 0.5;
}

/*

Features Section

*/
#features{
    margin-top: 60px;
}
.features__row{
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
}
.feature__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__title{
    color: #6415FF;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 16px;
}
.features__heading{
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
}
.features__text{
    color: #7c8ba1;
    text-align: center;
    max-width: 576px;
    margin:16px auto;
    font-weight: 500;
    line-height: 1.6;
    font-size: 18px;
}
.features__content--main{
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}
.feature__box{
    display: flex;
    width: calc(100% / 3);
    padding:24px 22px;
}
.feature__icon{
    border:1px solid #e2e8f0;
    border-radius: 50%;
    padding: 20px;
    margin-right: 20px;
}
.feature__box--title{
    font-size: 24px;
    font-weight: 700;
    color: #243e63;
    letter-spacing: 0.4px;
}
.feature__box--text{
    color: #7c8ba1;
    font-weight: 500;
    line-height: 2;
    padding-top: 16px;
}

/*

Quality Section

*/
.quality__content--wrapper{
    display: flex;
}
.quality__content--text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 82px;
}
.quality__img--wrapper{
    width: 50%;
}
.quality__img{
    width: 100%;
    border:1px solid #7c8ba133;
}
.quality__text{
    color: #7c8ba1;
    margin:16px auto;
    font-weight: 500;
    line-height: 1.6;
    font-size: 18px;
}
.quality__btn{
    cursor: pointer;
    border-radius: 9999px;
    padding:14px 28px;
    margin-top: 16px;
    font-size: 14px;
    font-weight: 700;
    background-color: #6415FF;
    color: white;
    border: none;
    transition:all 300ms ease;
}
.quality__btn:hover{
    background-color: #5011CC;
}

/*

Steps Section

*/
.steps__content--wrapper{
    display: flex;
    align-items: center;
}
.laptop__img--wrapper{
    width: 50%;
}
.laptop__img{
    width: 100%;
}
.steps__content--section{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 52px;
}
.step__content{
    display: flex;
    padding-top: 38px;
}
.step__content--number{
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 600;
    line-height: 1;
    padding-right: 24px;
}
.step__content--header{
    font-size: 20px;
    font-weight: 600;
    color: #243E63;
    line-height: 1;
}
.step__content--text{
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    color: #718096;
    line-height: 2;
    padding-top: 12px;
}

/*

Values Section

*/
.value__content--wrapper{
    display: flex;
    align-items: center;
}
.value__img--wrapper{
    width: 50%;
}
.value__img{
    width: 100%;
}
.value__content{
    width: 50%;
    padding-right: 71px;
}
.values__description--group{
    display: flex;
    gap: 42px;
}
.values__description{
    display: flex;
    flex-direction: column;
}
.values__description:nth-child(2) .description--header__icon{
    color: #9b2c2c;
    background-color: #feb2b2;
}
.description--header{
    display: flex;
    align-items: center;
}
.description--header__icon{
    color: #276749;
    border-radius: 9999px;
    padding: 7px;
    width: 34px;
    height: 34px;
    background-color: #9ae6b4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description--header__title{
    color: #243E63;
    font-size: 20px;
    font-weight: 700;
    padding-left: 12px;
}
.description--text{
    color: #718096;
    line-height: 1.6;
    padding-top: 16px;
}
.value__content--space{
    padding: 14px 0;
}

/*

Pricing Section

*/
.plan__wrapper{
    display: flex;
    justify-content: space-between;
}
.plan{
    width: 30%;
    box-shadow:0px 1px 3px gray;
    border-radius:8px;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.plan__highlight{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:8px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.faded__line{
    opacity: 0.3;
}
.plan__section{
    padding: 32px;
}
.plan__name{
    padding-top: 12px;
    font-size: 20px;
    color: #1a202c;
    font-weight: 700;
}
.plan__price{
    font-size: 48px;
    font-weight: 700;
    color: #1a202c;
    padding: 18px 0;
}
.plan__duration{
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 1.6px;
}
.plan__section--title{
    font-size: 20px;
    color: #1a202c;
}
.plan__section--text{
    color: #718096;
    font-weight: 500;
    margin-top: 20px;
}
.pricing__btn{
    cursor: pointer;
    border: none;
    color: #f7fafc;
    font-size: 14px;
    font-weight: 700;
    padding: 18px 46px;
    border-radius: 9999px;
    letter-spacing: 0.8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    transition: all 300ms ease-in-out;
}
.pricing__btn:hover{
    transform: translate(1px, -1px);
    color: #edf2f7;
    box-shadow:0px 5px 12px #d7d7d7;
}
.plan__highlight--enterprise,
.pricing__btn--enterprise{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan--business{
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}
.plan--business__text--bright{
    color: #f7fafc;
}
.plan--business__text--light{
    color: #e2e8f0;
}
.plan--business__duration--color{
    color: #edf2f7;
}
.plan--business--pricing__btn{
    color: #6415ff;
    background: #f7fafc;
}
.plan--business--pricing__btn:hover{
    color: #460fb3;
    background-color: #e2e8f0;
    box-shadow:0px 5px 12px #3B3B5C;
}

/*

Testimonial Section

*/
.testimonials__content--wrapper{
    display: flex;
    align-items: center;
}
.testimonials__section--img__wrapper{
    width: 50%;
}
.testimonials__section--img{
    width: 100%;
}
.testimonials__content{
    width: 50%;
    padding-left: 64px;
}
.testimonials__feedback{
    padding-top: 28px;
}
.rating{
    color: #fabf2a;
}
.testimonials__feedback--title{
    font-size: 20px;
    font-weight: 700;
    color: #243e63;
    padding:16px 0;
}
.testimonials__feedback--text{
    color: #4a5568;
    font-weight: 500;
    line-height: 1.6;
}

/*

Box Section

*/
.box__content--wrapper{
    background-color: #6415ff;
    width: 100%;
    border-radius: 8px;
}
.box__content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 78px 46px;
}
.box__content--title{
    max-width: 480px;
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    margin-right: 64px;
}
.btn__group{
    display: flex;
}
.box__content--btn__start,
.box__content--btn__contact{
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding: 20px 40px;
    border-radius: 9999px;
}
.box__content--btn__start{
    background-color: #f56565;
    color: #f7fafc;
    margin-right: 32px;
    box-shadow:0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}
.box__content--btn__start:hover{
    background-color: #e53e3e;
    color: #edf2f7;
}
.box__content--btn__contact{
    background-color: #6415ff;
    color: #f7fafc;
    border:1px solid #a0aec0;
    transition: all 300ms ease;
}
.box__content--btn__contact:hover{
    color: #6415ff;
    background-color: #f7fafc;
    border-color: #6415ff;
}

/*

Footer Section

*/
